<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Über Uns</h2>
                <img src="img/logo.png" style="margin: 0 auto;" class="img-responsive" alt="Logo Skiclub">
                <h3 class="section-subheading text-muted">
                    Der Skiclub Kühlenfels wurde offiziell am 9. Juni 1989 gegründet.
                </h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Skifahrten</h4>
                <p class="text-muted">
                    Gemeinsame Skifahrten stehen im Mittelpunkt unseres Skiclubs.
                    Jedes Jahr unternehmen wir mehrere Skifahrten wie beispielsweise den
                    Kinderskiausflug nach Saalbach-Hinterglemm oder den Erwachsenenskiausflug.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-sun-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Aktivitäten</h4>
                <p class="text-muted">
                    Unser Skiclub ist nicht nur im Winter aktiv.
                    In den warmen Monaten stehen Wanderungen, das Vatertagsfest oder das Weinfest auf dem Programm.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-child fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Jugendarbeit</h4>
                <p class="text-muted">
                    Ein wichtiger Bestandteil unseres Skiclubs ist die Jugendarbeit.
                    Im Winter organisieren wir deshalb einen Kinderskiausflug aber auch im Sommer
                    planen wir regelmäßige Aktivitäten für unseren Nachwuchs.
                </p>
            </div>
        </div>
    </div>
</section>