<!-- Membership Section -->
<section id="membership" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Mitgliedschaft</h2>
                <h5 class="section-subheading text-muted">
		            Egal ob aktiv, passiv oder gleich die ganze Familie, wir freuen uns über jedes neue Mitglied!
		            Haben wir dein Interesse geweckt?
		        </h5>
                <h5 class="section-subheading text-muted">
                    Dann nimm Kontakt mit einem unserer Vorstände auf!
                </h5>
                <script type="text/javascript">
                    document.write("<n uers=\"znvygb:{{ site.people.first.email_rot13 }}\" ery=\"absbyybj\"pynff=\"cntr-fpebyy oga oga-ky\">Wrgmg Zvgtyvrq jreqra!</n>".replace(/[a-zA-Z]/g,
                            function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
                </script>
            </div>
        </div>
    </div>
</section>