 <!-- Event Modals -->
 {% for event in site.posts %}
     {% if event.category contains 'event' %}
        <div class="portfolio-modal modal fade" id="eventModal{{ event.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{ event.title }}</h2>
                                <hr class="star-primary">
                                <h3>Zeit: {{ event.date | date: '%B %d, %Y' }}</h3>
                                <h3>Ort: {{ event.location }}</h3>
                                <p>{{ event.description }}</p>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
